[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "==4.4.2"
python-pptx = "==0.6.18"
Pillow = "==9.0.1"
XlsxWriter = "==1.2.6"

[requires]
python_version = "3.7"
